#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Encyclopédie Universalis
Name[fr_BE]=Encyclopédie Universalis
Exec=firefox http://www.universalis-edu.com/
Name=Encyclopédie Universalis
Icon=logo-ue
